body{
    background-size:cover;
}
h1{
    font-size: 50px;

}
h2{
    font-size: 20px;
    font-weight: bolder;
}
h3{
    color:white;
    font-size: 10px;
}
input{
    width:200px;
}
canvas{
    border:2px solid white;
    border-radius:10px;margin-top:200px;
    box-shadow:5px 5px 5px white;
    background-color: rgb(114, 150, 138);
}